__pycache__/
**/__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
ENV/
env/
.ENV/
.VENV/

.env
.env.*
!.env.example

pip-log.txt
pip-delete-this-directory.txt


data/
data_processed/

run/
runs/

*.log
*.tmp
*.bak
*.swp
*.swo

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Profiling 
.prof
*.lprof
*.pstats


# VSCode
.vscode/

# PyCharm
.idea/
*.iml

.DS_Store
Thumbs.db
ehthumbs.db
